<div class="jumbotron">
	<h1>Thanks for signing-up!</h1>
	<p class="lead">
		We'll be in touch shortly :) In the meantime feel free to reach out to us with any suggestions and/or spread the word to your friends!
	</p>

	<a href="/">Back</a>
</div>

<hr>
