/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

@import "font-awesome";

 /* Adrift_in_Dreams Palette */
 /* http://www.colourlovers.com/palette/580974/Adrift_in_Dreams */
$sunlitgreen: #CFF09E;
$seafoamgreen: #A8DBA8;
$seagreen: #79BD9A;
$sailgreen: #3B8686;
$adriftgreen: #0B486B;

/* colors */
$link-color: $adriftgreen;
$text-color: $adriftgreen;
$hr-border-color: $adriftgreen;
$button-background-color: $sailgreen;
$button-border-color: $seafoamgreen;
$button-hover-background-color: $adriftgreen;
$button-hover-border-color: $sailgreen;

@import "twitter/bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir Next', Georgia, Times, serif;
}
p, div {
    font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
	background: rgba(207, 240, 158, .8); /* Hex Value: #CFF09E */
  padding: 30px 10px 10px 10px;
}

hr {
  margin: 30px 0;
	border-color: $hr-border-color
}

/* Main info message and sign up button */
.jumbotron {
  margin: 0px 0;
  text-align: center;
  background-color: transparent;
  padding: 10px;
}
.jumbotron h1 {
  font-size: 54px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: $button-background-color;
  border-color: $button-border-color;
  &:hover {
    border-color: $button-hover-border-color;
    background-color: $button-hover-background-color;
  }
}

/* Supporting info content */
.info {
  margin: 60px 0;
  text-align: center;
}
.info p + h4 {
  margin-top: 28px;
}

/* Notification */
.input-email {
	width: 300px;
}

.notify .btn {
  background-color: $button-background-color;
  border-color: $button-border-color;
  color: white;
  &:hover {
    border-color: $button-hover-border-color;
    background-color: $button-hover-background-color;
  }
}

/* Reduce h1 font-size on small screens */
@media (max-width: 480px) { 
  
	.jumbotron h1 { 
	  font-size: 40px;
	  background-color: transparent;
	}  

}




