<div class="text-center notify" id="sign-up">
  <h2>Get Notified!</h2>
    
  <p>Send us your email and we'll notify you when we're ready to launch!</p>
    
  <form action="<%= signups_url %>" method="post">
    <div class="input-prepend">
    	<label for="email"<span class="add-on"><i class="icon-envelope"></i></span></label>
        <input type="text" class="input-email" id="email" name="signup[email]" placeholder="your@email.com">
    </div>
    <br/>
    <input type="submit" value="Send!" class="btn btn-large" />
  </form>
</div>

<hr>