<div class="text-center" id="sign-up">
  <h2>Get Notified!</h2>
    
  <p>Send us your email and we'll notify you when we're ready to launch!</p>
    
  <form action="" method="post">
    <div class="input-prepend">
    	<span class="add-on"><label for="email" class="glyphicon glyphicon-envelope"></label></span>
        <input type="text" class="input-email" id="email" name="" placeholder="your@email.com">
    </div>
    <br/>
    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
  </form>
</div>

<hr>